@model Curso
@{
    ViewData["Title"] = "Nuevo Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card row g-3" style="margin: 50px 0px 150px 0px;">
    <div class="card-header">
        <p style="font: bold 2rem Helvetica; text-shadow: 0px 3px 5px black;">Ingresar Nuevo Curso</p>
    </div>
    <div class="card-body">
        <div>
            <form asp-action="Guardar" asp-controller="Curso" method="post">
                <div class="input-group mb-3">
                    <div class="mb-3">
                        <label class="form-label">Clave del Curso</label>
                        <input asp-for="IdCurso" type="number" class="form-control mb-3" placeholder="0000">
                        <span asp-validation-for="IdCurso" class="text-bg-danger"></span>
                    </div>
                    <div class="mb-3" style="margin-left: 50px;">
                        <label class="form-label">Nombre del Curso</label>
                        <input asp-for="NombreCurso" type="text" class="form-control" placeholder="Ejemplo">
                        <span asp-validation-for="NombreCurso" class="text-bg-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea asp-for="DescripcionCurso" class="form-control w-50" placeholder="Ingrese la descripción aquí"></textarea>
                    <span asp-validation-for="DescripcionCurso" class="text-bg-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <div>
                        <label class="form-label">Duración del Curso</label>
                        <input asp-for="DuracionCurso" type="number" class="form-control" placeholder="0">
                        <span asp-validation-for="DuracionCurso" class="text-bg-danger"></span>
                    </div>
                    <div style="margin-left: 50px;">
                        <label class="form-label">Descripción de la Duración</label>
                        <select class="form-select" asp-for="DescripcionDuracion">
                            <option value="Horas" selected>Horas</option>
                            <option value="Días">Días</option>
                            <option value="Semanas">Semanas</option>
                            <option value="Meses">Meses</option>
                        </select>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="mb-3">
                        <label class="form-label">Nivel del Curso</label>
                        <select class="form-select" asp-for="NivelCurso">
                            <option value="Básico" selected>Básico</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                        </select>
                    </div>
                    <div class="mb-3" style="margin-left: 50px;">
                        <label class="form-label">Requisitos Previos</label>
                        <select class="form-select" asp-for="RequisitosPrevios">
                            <option value="Ninguno" selected>Ninguno</option>
                            <option value="Básico">Básico</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                        </select>
                    </div>
                    <div class="mb-3" style="margin-left: 50px;">
                        <label class="form-label">Precio del Curso</label>
                        <input asp-for="Precio" type="number" class="form-control" placeholder="$0.00">
                        <span asp-validation-for="Precio" class="text-bg-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Ingresar Curso</button>
                <a asp-action="Cursos" asp-controller="Curso" class="btn btn-outline-dark">Ver Cursos</a>
            </form>
        </div>
        <br />
    </div>
</div>