<div class="container">
    <h1 class="text-center">Master Computing Academy</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <img src="~/img/academia_logo.png" alt="Company Logo" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Quiénes Somos</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam ligula in tellus volutpat, et consequat
                sapien euismod. Nam ultricies dapibus consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae; Suspendisse potenti. Proin non vulputate orci. Vestibulum non sagittis
                diam. Ut finibus luctus sem, nec ultricies lorem commodo a.
            </p>

            <h2>Nuestra Misión</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam ligula in tellus volutpat, et consequat
                sapien euismod. Nam ultricies dapibus consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae; Suspendisse potenti. Proin non vulputate orci. Vestibulum non sagittis
                diam. Ut finibus luctus sem, nec ultricies lorem commodo a.
            </p>
        </div>
    </div>
    <div class="row mt-5">
    

    <h2>Contáctanos</h2>
    <p>Email: cristofer.leiva@catolica.edusvm</p>
    <p>Phone: +503 7777-7777</p>
    <p>Address: Hot Academy Inc</p>

    </div>
</div>