@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p style="font: bold 3rem Helvetica; text-shadow: 0px 2px 5px black;">Administrador</p>
<a asp-controller="MantenedorController1" asp-action="Guardar" class="btn btn-dark">Nuevo Usuario</a>
<a asp-controller="MantenedorController1" asp-action="Listar" class="btn btn-outline-dark">Lista de Usuario</a>
<a asp-controller="Curso" asp-action="Guardar" class="btn btn-dark">Nuevo Curso</a>
<a asp-controller="Curso" asp-action="Cursos" class="btn btn-outline-dark">Ver Cursos</a>