@model Usuarios
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Usuario
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="MantenedorController1" method="post">

            <input asp-for="IdUsuario" type="hidden" class="form-control">
            
            <div class="mb-3">
                <label class="form-label bg-danger">Correo</label>
                <input asp-for="Correo" type="email" class="form-control">
                <span asp-validation-for="Correo" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre De Usuario </label>
                <input asp-for="Nombre_User" type="text" class="form-control">
                <span asp-validation-for="Nombre_User" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Contra" type="password" class="form-control">
                <span asp-validation-for="Contra" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha De Creacion</label>
                <input asp-for="FechaCreacion" type="date" class="form-control">
                <span asp-validation-for="FechaCreacion" class="text-bg-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-action="Listar" asp-controller="MantenedorController1" class="btn btn-warning">Volver ala lista </a>
        </form>
    </div>
</div>

