@model Usuarios
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Usuario
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="MantenedorController1" method="post">
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="email" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre De Usuario </label>
                <input asp-for="Nombre_User" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Contra" type="password" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha De Creacion</label>
                <input asp-for="FechaCreacion" type="date" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a>Volver ala lista</a>
        </form>
    </div>
</div>


