@model Usuario
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-bottom: 100px;">
    <div class="card-header">
        <p style="font: bold 2rem Helvetica; text-shadow: 0px 3px 5px black;">Nuevo Usuario</p>
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="MantenedorController1" method="post">
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" type="email" class="form-control">
                <span asp-validation-for="Correo" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre De Usuario </label>
                <input asp-for="Nombre_User" type="text" class="form-control">
                <span asp-validation-for="Nombre_User" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input asp-for="Contra" type="password" class="form-control">
                <span asp-validation-for="Contra" class="text-bg-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">IdRol</label>
                <select asp-for="IdRol" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="IdRol" class="text-bg-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark">Guardar</button>
            <a asp-action="Listar" asp-controller="MantenedorController1" class="btn btn-outline-dark">Volver ala lista </a>
        </form>
    </div>
</div>


