@model Credencial
@{
    ViewData["Title"] = "Inicio de Sesi칩n";
}


<h1>Inicio de Sesi칩n</h1>
<form asp-action="Login" asp-controller="MantenedorController1" method="post">
    <div>
        <input asp-for="Correo" type="email" class="form-control">
    </div>
    <div>
        <input asp-for="Contra" type="password" class="form-control">
    </div>
    <div>
        <button type="submit">Iniciar Sesi칩n</button>
        <a asp-action="CambiarContra" asp-controller="MantenedorController1" class="my-2 my-sm-0 text-dark"><ins>Cambiar Contrase침a</ins></a>
    </div>
    
</form>