@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_academia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Journal.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Master Computing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (Context.Request.HttpContext.Session.GetString("rol") == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MantenedorController1" asp-action="Listar">Usuarios</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        @if (Context.Request.HttpContext.Session.GetString("user") == null)
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark align-content-end" asp-area="" asp-controller="MantenedorController1" asp-action="Login">Iniciar Sesión</a>
                            </li>
                    
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Curso" asp-action="Guardar">Nuevo Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Curso" asp-action="Cursos">Ver Cursos</a>
                        </li>
                    </ul>
                </div>
                <style> .login-li { list-style: none; } #user-name::before { position: absolute; transform: translateX(-25px); content: '👤'; } </style>
                @if (Context.Request.HttpContext.Session.GetString("user") != null)
                {
                    <li class="nav-item login-li" id="user-name" style="transform: translateX(-75px);">
                        <a class="nav-link text-black mr-4">    Hola:@Context.Request.HttpContext.Session.GetString("user")</a>
                    </li>
                    <li class="nav-item login-li" style="transform: translateX(-30px);">                                          
                        <a asp-action="Logout" asp-controller="MantenedorController1" class="my-2 my-sm-0 text-dark ml-5"><ins>Cerrar Sesion</ins></a>
                    </li>
                    
                }
                
            </div>
           
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Proyecto_academia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
